{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/aboutpage.css' %}">
    {% endblock base_style%}
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="about-main">
        <section class="fullheight">
            <div class="leftside">
                <h1>About Us</h1>
                <p>Hamrai ma gunaso pokhnuhos, hami ready xam tapai ko gunaso sunna lai! tara mugi dherai halla garney
                    kam na garam natra pitai khalas.</p>
                <button class="copybtn" onclick="explore()">Learn More</button>
            </div>
            <div class="rightside">
                <div class="imagecontain">
                    <img src="{% static 'images/aboutimage.png' %}" alt="">
                </div>
            </div>
        </section>

        <section class="explore fullheight" id="explore">
            <h2>Our Vision</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum eligendi quo dignissimos placeat minus
                nostrum voluptates quos aliquam molestias corporis, exercitationem rerum, molestiae id quam?</p>

            <h2>Our Mission</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum eligendi quo dignissimos placeat minus
                nostrum voluptates quos aliquam molestias corporis, exercitationem rerum, molestiae id quam?</p>
            <h2>Our Primary Feature</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum eligendi quo dignissimos placeat minus
                nostrum voluptates quos aliquam molestias corporis, exercitationem rerum, molestiae id quam?</p>
            <h2>Map</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum eligendi quo dignissimos placeat minus
                nostrum voluptates quos aliquam molestias corporis, exercitationem rerum, molestiae id quam?</p>
        </section>
    </div>

    <script src="{% static 'scripts/about.js' %}"></script>
    {% endblock %}
</body>

</html>