{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/aboutpage.css' %}">
    {% endblock base_style%}
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="about-main">
        <section class="fullheight">
            <div class="leftside" data-aos="fade-up">
                <h1>About Us</h1>
                <p>Welcome to Guanso, where stories come to life, and connections are forged through the power of words. Established with a passion for fostering genuine human connections.</p>
                <button title="Read More" class="copybtn" onclick="explore()">Learn More</button>
            </div>
            <div class="rightside" data-aos="fade-up">
                <div class="imagecontain">
                    <img src="{% static 'images/aboutimage.png' %}" alt="">
                </div>
            </div>
        </section>

        <section class="explore fullheight" id="explore">
            <div class="cards">
                <div class="card bluecard" data-aos="fade-up">
                    <i class="ri-eye-line"></i>
                    <h3>Our Vision</h3>
                    <p>
                        Cultivate a world celebrating authentic self-expression, fostering connections that empower sharing stories without fear or judgment, transcending boundaries.</p>
                </div>
                
                <div class="card" data-aos="fade-up"  data-aos-duration="1000">
                    <i class="ri-focus-2-fill"></i>
                    <h3>Our Mission</h3>
                    <p>Empower through narratives. Secure. Inclusive. Valued stories. Understanding. Empathy. Meaningful connections.</p>
                </div>
                <div class="card bluecard" data-aos="fade-up"  data-aos-duration="1500">
                    <i class="ri-global-fill"></i>
                    <h3>Our Goals</h3>
                    <p>Secure, inclusive self-expression. Value every story, foster connections. Strive for continuous improvement, unify diverse narratives.</p>
                </div>
            </div>
        </section>

        
        <div class="tutorial">
            <h2>How to Use <span class="framespan">Gunaso?</span></h2>
            <iframe class="myframe" src="https://www.youtube.com/embed/tgbNymZ7vqY?playlist=tgbNymZ7vqY&loop=1">
            </iframe>
        </div>

        <div class="payments">
            <h2>Help us to Improve</h2>
            <form action="" method="post">
                {% csrf_token %}
                <input type="number" name="paisa">
                <br>
                <center>
                    <input style="background-color: #60bb46;" class="copybtn" type="submit" value="Esewa">
                    <!-- <input style="background-color: #5d2e8e;" class="copybtn" type="submit" value="Khalti"> -->
                </center>
            </form>
        </div>
    </div>

    <script src="{% static 'scripts/about.js' %}"></script>
    {% endblock %}
</body>

</html> 