{%extends 'base.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Contact</title>

    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/about.css' %}">
    {% endblock base_style%}
</head>

<body>
    {% block content %}

    <div id="about-container">

        <div id="title">
            <h1>
                हाम्रोबारे!
            </h1>
            <p class="space">
                हाम्रो वेब अनुप्रयोग परियोजना एक अभिनव बिलिङ र लेखा प्रणाली मार्फत पिउने पानी उद्योग क्रान्ति गर्न
                समर्पित छ। अत्याधुनिक ई-प्रविधिहरू र अनलाइन उपकरणहरू प्रयोग गरेर, हामी बिलिङ प्रक्रियाहरू सरल बनाउन र
                प्रयोगकर्ता अनुभव बृद्धि गर्ने उद्देश्यले प्रयोगकर्ता-केन्द्रित प्लेटफर्म सिर्जना गर्दैछौं। हाम्रो मिशन
                भनेको उपभोक्ताहरू र प्रदायकहरूलाई पानी खपत व्यवस्थापन गर्न, द्रुत बिलिङ जानकारी प्रदान गर्न, र व्यक्तिगत
                खाता व्यवस्थापन सक्षम गर्नको लागि सिमलेस, पारदर्शी प्रणाली प्रस्ताव गर्नु हो। यस अत्यावश्यक स्रोतको
                बिलिङ र व्यवस्थापनमा सुविधा र दक्षता मिल्ने भविष्य सुनिश्चित गर्दै, आवश्यक उपयोगिताहरूसँग उदीयमान
                प्रविधिहरू एकीकृत गरेर खानेपानी सेवाहरूको परिदृश्यलाई पुन: परिभाषित गर्ने हाम्रो प्रतिबद्धतालाई यस
                परियोजनाले प्रतिबिम्बित गर्दछ।
            </p>

            <h1>
                हाम्रा सुविधाहरू निम्नानुसार छन्:
            </h1>

        </div>

        <div id="rest-details-content">
            <div id="content-div">
                <h1>बिलिङ र खाता व्यवस्थापन</h1>
                <p class="space">
                    <strong>हामी यसलाई कसरी प्रदान गर्छौं:</strong><br>
                    हाम्रो प्लेटफर्मले बिलिङ र खाताहरू प्रबन्ध गर्नको लागि एक सहज र प्रयोगकर्ता-अनुकूल इन्टरफेस प्रदान
                    गर्दछ। सुरक्षित लगइन मार्फत, ग्राहकहरूले आफ्नो बिलिङ जानकारी पहुँच गर्न, खपत इतिहास समीक्षा गर्न, र
                    भुक्तानी विधिहरू सहजै व्यवस्थापन गर्न सक्छन्। स्वचालित बिलिङ अधिसूचनाहरूले समयमै अद्यावधिकहरू
                    सुनिश्चित गर्दछ, जबकि अनुकूलन योग्य प्राथमिकताहरूले प्रयोगकर्ताहरूलाई उनीहरूको आवश्यकता अनुसार आफ्नो
                    बिलिङ अनुभवलाई अनुकूल बनाउन सशक्त बनाउँछ।
                    अन्य विवरणहरू:
                <ul class="about-content">
                    <li><strong>अनुकूलन योग्य विकल्पहरू:</strong> प्रयोगकर्ताहरूसँग बिलिङ अलर्टहरू, भुक्तानी
                        रिमाइन्डरहरू, र खपत थ्रेसहोल्डहरूको लागि प्राथमिकताहरू सेट गर्न लचिलोपन छ।</li>
                    <li><strong>विस्तृत रिपोर्टहरू:</strong> विस्तृत बिलिङ विवरणहरू र खपत रिपोर्टहरू सजिलो सन्दर्भ र
                        विश्लेषणको लागि उपलब्ध छन्।</li>
                    <li><strong>सुरक्षित लेनदेनहरू:</strong> हामी डेटा सुरक्षालाई प्राथमिकता दिन्छौं, संवेदनशील बिलिङ
                        जानकारी सुरक्षित गर्न बलियो इन्क्रिप्शन विधिहरू लागू गर्दै।</li>
                </ul>
                </p>
                <button>view More
                    <i class="ri-arrow-right-line"></i>
                </button>
            </div>

            <div id="content-div">
                <h1>वास्तविक समय खपत निगरानी</h1>
                <p class="space">
                    <strong>हामी यसलाई कसरी प्रदान गर्छौं:</strong>
                    हाम्रो प्लेटफर्मले उन्नत निगरानी उपकरणहरू समावेश गर्दछ जसले पानी खपतको वास्तविक-समय ट्र्याकिङ सक्षम
                    गर्दछ। प्रयोगकर्ताहरूले विस्तृत उपयोग विश्लेषणहरू पहुँच गर्न सक्छन्, उनीहरूलाई उनीहरूको पानी खपत
                    कुशलतापूर्वक निगरानी र व्यवस्थापन गर्न अनुमति दिँदै। स्मार्ट मिटर एकीकरणले सही डाटा प्रदान गर्दछ,
                    ग्राहकहरूलाई उनीहरूको पानी प्रयोगको बारेमा सूचित निर्णयहरू गर्न सशक्त बनाउँछ।

                    अन्य विवरणहरू:
                <ul>
                    <li><strong>प्रत्यक्ष डाटा फिडहरू:</strong> प्रयोगकर्ताहरूले प्रत्यक्ष उपभोग डाटा हेर्न सक्छन्,
                        तिनीहरूलाई प्रयोग ढाँचाहरू ट्र्याक गर्न र सूचित समायोजनहरू गर्न सशक्त बनाउँदै।</li>
                    <li><strong>उपयोग अन्तर्दृष्टि:</strong> विश्लेषणात्मक उपकरणहरूले उपभोग प्रवृत्तिहरूमा अन्तर्दृष्टि
                        प्रदान गर्दछ, संरक्षण प्रयासहरू र लागत व्यवस्थापनमा सहयोग गर्दछ।</li>
                    <li><strong>अलर्ट र सूचनाहरू: </strong>असामान्य प्रयोग ढाँचाहरू वा लीकहरूको लागि स्वचालित अलर्टहरूले
                        सम्भावित समस्याहरूलाई सम्बोधन गर्न सक्रिय उपायहरू प्रदान गर्दछ।</li>
                </ul>
                </p>
                <button>view More
                    <i class="ri-arrow-right-line"></i>
                </button>

            </div>

            <div id="content-div">
                <h1>परिष्कृत ग्राहक समर्थन र सहायता</h1>
                <p class="space"><strong>हामी यसलाई कसरी प्रदान गर्छौं:</strong>
                    हाम्रो प्लेटफर्मले विभिन्न च्यानलहरू मार्फत समर्पित ग्राहक समर्थन सुनिश्चित गर्दछ। प्रयोगकर्ताहरूसँग
                    एक उत्तरदायी समर्थन टोलीमा पहुँच छ जसले बिलिङ प्रश्नहरू, प्राविधिक समस्याहरू, र खाता व्यवस्थापनमा
                    सहायता प्रदान गर्दछ। थप रूपमा, व्यापक सोधिने प्रश्नहरू र ट्यूटोरियलहरूले सामान्य प्रश्नहरूको लागि
                    आत्म-मद्दत स्रोतहरू प्रदान गर्दछ।
                    अन्य विवरणहरू:
                <ul>
                    <li><strong>24/7 समर्थन:</strong> हाम्रो समर्थन टोली प्रयोगकर्ता सरोकार र प्रश्नहरू तुरुन्तै सम्बोधन
                        गर्न चौबीसै घण्टा उपलब्ध छ।</li>
                    <li><strong>प्रयोगकर्ता गाइडहरू र स्रोतहरू: </strong>विस्तृत गाइडहरू र स्रोतहरू अनलाइन उपलब्ध छन्,
                        चरण-दर-चरण निर्देशनहरू र समस्या निवारण सुझावहरू प्रदान गर्दै।</li>
                    <li> <strong>प्रतिक्रिया संयन्त्र:</strong> हामी प्रयोगकर्ताको प्रतिक्रियाको कदर गर्छौं र ग्राहकको
                        सुझाव र अनुभवको आधारमा हाम्रा सेवाहरूलाई निरन्तर सुधार गर्छौं।</li>
                    </p>
                </ul>
                <button>view More

                    <i class="ri-arrow-right-line"></i>
                </button>
            </div>

        </div>  
    </div>


    {% endblock %}



</body>

</html>