{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/analytics.css' %}">
    {% endblock base_style%}
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="analyticsmain">
        <h2>Your <span>Details</span></h1>
            <div class="flexcontain">
                <div class="chart">
                    <center>
                        <h3>Received Messages: {{actualdata}}</h3>
                        <div id="container" style="width: 100%;">
                            <canvas id="myChart1"></canvas>
                        </div>
                    </center>
                </div>
                <div class="ourtable">
                    <table>
                        <thead>
                            <h3>Global <span>Score</span> Board</h3>
                            <strong>(Top 5)</strong>
                        </thead>
                        <tr>
                            <th>SN</th>
                            <th>Name</th>
                            <th>Confessions</th>
                            <th>Medal</th>
                        </tr>
                        {% for user in top_user_posts %}
                        <tr>
                            <th>{{ forloop.counter }}</th>
                            <th>{{ user.category }}</th>
                            <th>{{ user.post_count }}</th>
                            
                            {% if user.post_count > 0 and user.post_count <= 20 %}
                                <th> <img src="{% static 'images/bronze.png' %}" alt=""></th>

                            {% elif user.post_count > 20 and user.post_count <= 100 %} 
                                <th> <img src="{% static 'images/silver.png' %}" alt=""></th>

                            {% elif user.post_count > 100 and user.post_count <= 500 %} 
                                <th> <img src="{% static 'images/gold.png' %}" alt=""></th>

                            {% endif %}

                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="medal">
                    {% if actualdata > 0 and actualdata <= 20 %} <div class="gamyfication">
                        <center>
                            <h4>Bronze Medal</h4>
                        </center>
                        <img src="{% static 'images/bronze.png' %}" alt="">
                </div>
                {% elif actualdata > 20 and actualdata <= 100 %} <div class="gamyfication">
                    <h4>Silver Medal</h4>
                    <img src="{% static 'images/silver.png' %}" alt="">
            </div>
            {% elif actualdata > 100 and actualdata <= 500 %} <div class="gamyfication">
                <h4>Gold Medal</h4>
                <img src="{% static 'images/gold.png' %}" alt="">
    </div>
    {% endif %}
    </div>
    </div>
    {% include 'banner.html' %}

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
    <script>
        var ctx = document.getElementById('myChart1').getContext('2d');
        var myChart1 = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: {{ finaldate| safe}},
        datasets: [{
            label: 'Details',
            data: {{ date_count_list| safe}},
            backgroundColor: [
            'rgba(255, 63, 164, 1)',
            'rgba(117, 79, 254, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 135, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(151, 102, 132, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(54, 162, 135, 1)',
            'rgba(25, 206, 86, 1)',
            'rgba(211, 192, 192, 1)',
            'rgba(234, 102, 132, 1)',
            'rgba(153, 99, 132, 1)',
            'rgba(255, 159, 64, 1)',
            'green',
            'yellow',
        ],

            borderColor: [
            'rgba(54, 162, 135, 1)',
            'rgba(25, 206, 86, 1)',
            'rgba(211, 192, 192, 1)',
            'rgba(234, 102, 132, 1)',
            'rgba(153, 99, 132, 1)',
            'rgba(255, 159, 64, 1)',

        ],

            borderWidth: 0
                }]
            },

        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
        })
    </script>
    {% endblock %}
</body>

</html>