{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/anonymity.css' %}">
    {% endblock base_style%}
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="anonymitymain">

        <section class="sectionone">
            <div class="sectionimg" data-aos="fade-up">
                <img src="{% static 'images/story4.png' %}" alt="">
            </div>
            <div class="sectionnav">
                <h2>
                    Anonymity
                </h2>
                <p> 
                    Welcome to our Anonymity page! At Gunaso, we understand the importance of privacy and anonymity in today's digital age. This page is dedicated to providing you with information about how we handle your personal data, the measures we take to protect your anonymity, and your rights as a user. Rest assured that we only collect data necessary for the proper functioning of our services, and we do not sell or share your personal information with third parties without your consent.
                </p>
            </div>
            <div class="points">
                <ol type="square" data-aos="fade-down">
                    <li>&#8226 We use industry-standard encryption protocols to secure the transmission of data between your device and our servers.</li>
                    <li>&#8226 Information about how you interact with our website, including pages visited, time spent on the site, and other analytics data.</li>
                    <li>&#8226 We may use cookies to enhance your browsing experience. You can manage your cookie preferences through your browser settings.</li>
                </ol>
            </div>
            <div class="cards">
                <div class="card" data-aos="fade-up"  data-aos-duration="1000">
                    <i class="ri-git-repository-private-fill"></i>
                    <h3>Secure Transmission</h3>
                    <p>We use industry-standard encryption protocols to secure the transmission of data between your device and our servers.</p>
                </div>
                <div class="card" data-aos="fade-up"  data-aos-duration="1200">
                    <i class="ri-git-repository-private-fill"></i>
                    <h3>Data Minimization</h3>
                    <p>We only collect the information necessary for the intended purpose and nothing more.</p>
                </div>
                <div class="card" data-aos="fade-up"  data-aos-duration="1500">
                    <i class="ri-git-repository-private-fill"></i>
                    <h3>Anonymous Browsing</h3>
                    <p> You can explore our website without revealing personal information. We respect your choice to remain anonymous.</p>
                </div>
            </div>
        </section>
    </div>
    {% endblock %}
</body>

</html>