{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/banner.css' %}">
    <title>Banner</title>
</head>

<body>
    <!-- Banner starts -->
    <div class="index-banner">
        <h3>{% block bannertitle %} {% endblock %}</h3>
        <h1>Write a Confession</h1>
        <p class="bannerpar">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo dicta aperiam vitae nulla. A distinctio cum quas expedita aliquam quis tempora, quisquam tempore quia. Nesciunt, repellendus et!</p>
        <button class="copybtn" onclick="gotopage()">
            More Peoples
        </button>
    </div>
    <!-- Banner end -->

    <script>
        function gotopage(){
            location.href = "/persons"
        }
    </script>
</body>

</html>