{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/banner.css' %}">
    <title>Banner</title>
</head>

<body>
    <!-- Banner starts -->
    <hr>
    <div class="index-banner">
        <h3>Confession Note:</h3>
        <h1>Write a Confession</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo dicta aperiam vitae nulla. A distinctio cum quas expedita aliquam quis tempora, quisquam tempore exercitationem quia. Nesciunt, repellendus et!</p>


        <button class="banner-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75">
                </path>
            </svg>

            <div class="text">
                Order
            </div>
        </button>
    </div>
    <hr>
    <!-- Banner end -->
</body>

</html>