{% load static %}
{% load webpush_notifications %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gunaso</title>
    <link rel="icon" type="image/x-icon"
        href="{% static 'images/logos/g-high-resolution-logo-white-transparent.png' %}">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block base_style%}
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    {% endblock base_style%}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />
    <link flex href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/6846ee7114.js" crossorigin="anonymous"></script>
    {% webpush_header %}
</head>

<body>
    <!-- header start -->
    <header class="header">
        <div class="container_nav">
            <div class="header-main">
                <div class="logo">
                    <a href="/">
                        <div class="contentlogo">
                            <h2 class="text" data-text="Gunaso">
                                Guanso
                            </h2>
                        </div>
                    </a>
                </div>
                <div class="open-nav-menu">
                    <span></span>
                </div>
                <div class="menu-overlay"></div>
                <!-- navigation menu start -->
                <nav class="nav-menu">
                    <div class="close-nav-menu">
                        <h4 class="headerh4">X</h4>
                    </div>
                    <ul class="menu">
                        <li class="menu-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#" data-toggle="sub-menu">About <i class="plus"></i></a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="/about">About Gunaso</a></li>
                                <li class="menu-item"><a href="/developers">Developers</a></li>
                                <li class="menu-item"><a href="{% url 'contact' %}">Contact</a></li>
                                <li class="menu-item"><a href="{% url 'anonymity' %}">Anonymity</a></li>
                            </ul>
                        </li>

                        <li class="menu-item">
                            <a href="{% url 'writestory' %}">write-Story</a>
                        </li>
                        <li class="menu-item">
                            <a href="/user/{{request.user}}">My Profile</a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#" data-toggle="sub-menu">More Features <i class="plus"></i></a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="{% url 'analytics'%}">Analytics</a></li>
                                <!-- <li class="menu-item"><a href="{% url 'gallary' %}">Gallery</a></li> -->
                                <li class="menu-item"><a href="{% url 'createGroup' %}">Create Group</a></li>
                                <li class="menu-item"><a href="{% url 'readstory' %}">Read Story</a></li>
                            </ul>
                        </li>

                        <li class="menu-item menu-item-has-children">
                            <a href="#" data-toggle="sub-menu">Confess<i class="plus"></i></a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="/persons">Explore Peoples</a></li>
                                <li class="menu-item"><a href="/topics">Famous Topics</a></li>
                                <li class="menu-item"><a href="{% url 'groups' %}">Groups</a></li>
                                <li class="menu-item"><a href="{% url 'showClippings' %}">Your Clippings</a></li>
                            </ul>
                        </li>

                        {% if user.is_authenticated %}
                        <button id="logoutbtn" onclick="logoutfunc()">
                            Logout
                        </button>
                        {% else %}
                        <button id="loginbtn" onclick="loginfunc()">
                            Login
                        </button>
                        <button id="signupbtn" onclick="signupfunc()">
                            Signup
                        </button>
                        {% endif %}
                    </ul>
                </nav>
                <!-- navigation menu end -->
            </div>
        </div>
    </header>
    <!-- header end -->


    <!-- sidebar starts -->
    <nav class="sidebar hoverable close">
        <div class="logo_items flex">
            <span class="nav_image">
                <img src="{% static 'images/logos/g-high-resolution-logo-transparent.png' %}" alt="logo_img" />
            </span>
            <span class="logo_name">Gunaso</span>
            <i class="bx bx-lock-alt" id="lock-icon" title="Unlock Sidebar"></i>
            <i class="bx bx-x" id="sidebar-close"></i>
        </div>
        <div class="menu_container">
            <div class="menu_items">
                <ul class="menu_item">
                    <div class="menu_title flex">
                        <span class="title">Dashboard</span>
                        <span class="line"></span>
                    </div>
                    <li class="item">
                        <a href="/user/{{request.user}}" class="link flex">
                            <i style="color: #fff;">
                                <lord-icon src="https://cdn.lordicon.com/hrjifpbq.json" trigger="hover"
                                    style="width:35px;height:35px" colors="primary:#fff,secondary:#fff">
                                </lord-icon>
                            </i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="{% url 'update_profile' %}" class="link flex">
                            <i>
                                <lord-icon src="https://cdn.lordicon.com/ifsxxxte.json" trigger="hover"
                                    style="width:30px;height:30px" colors="primary:#fff,secondary:#fff">
                                </lord-icon>
                            </i>
                            <span>Update Profile</span>
                        </a>
                    </li>
                </ul>
                <ul class="menu_item">
                    <div class="menu_title flex">
                        <span class="title">Confess</span>
                        <span class="line"></span>
                    </div>
                    <li class="item">
                        <a href="{% url 'person' %}" class="link flex">
                            <i class="fa-solid fa-magnifying-glass-plus"></i>
                            <span>Explore Peoples</span>
                        </a>
                    </li>
                    <li class="item">
                        <a href="{% url 'topics' %}" class="link flex">
                            <i class='bx bxs-user-circle'></i>
                            <span>Famous Topics</span>
                        </a>
                    </li>
                </ul>
                <ul class="menu_item">
                    <div class="menu_title flex">
                        <span class="title">More</span>
                        <span class="line"></span>
                    </div>
                    <li class="item">
                        <a href="{% url 'readstory' %}" class="link flex">
                            <i>

                                <lord-icon src="https://cdn.lordicon.com/depeqmsz.json" trigger="hover"
                                    style="width:30px;height:30px" colors="primary:#fff,secondary:#fff">
                                </lord-icon>
                            </i>
                            <span>Read Story</span>
                        </a>
                    </li>
                    <li class="item">
                        {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="link flex">
                            <i class='bx bx-log-out-circle'></i>
                            <span>Logout</span>
                        </a>
                        {% else %}
                        <a href="{% url 'login' %}" class="link flex">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                            <span>Login</span>
                        </a>
                        {% endif %}
                    </li>
                    <li class="item">
                        <a href="{% url 'developers' %}" class="link flex">
                            <i>
                                <lord-icon src="https://cdn.lordicon.com/eodeknny.json" trigger="hover"
                                    style="width:29px;height:29px; margin-left: 5px;"
                                    colors="primary:#fff,secondary:#fff">
                                </lord-icon>
                            </i>
                            <span>About Developers</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar_profile flex">
                {% if user.is_authenticated %}
                <span class="nav_image">
                    <img src="{{request.user.Profile.image.url}}" alt="logo_img"
                        style="border-radius: 50%; height: 35px; width:35px;" />
                </span>
                <div class="data_text">
                    <span class="name">{{request.user}}</span>
                    <br>
                    <span class="email">{{request.user.email}}</span>
                </div>
                {% else %}
                <span class="nav_image">
                    <img src="{% static 'images/nologgedin.jpg' %}" alt="logo_img"
                        style="border-radius: 50%; height: 35px; width:35px;" />
                </span>
                <div class="data_text">
                    <span class="name" style="font-size: 14px;">Not <br>Logged in</span>
                    <br>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    <!-- sidebar ends -->
    {% block content %} {% endblock %}
    <!-- Footer HTML Starts -->
    <hr>
    <footer class="footer">
        <div class="fone">
            <!-- <h2>Logo</h2> -->
            <img src="{% static 'images/logos/g-high-resolution-logo-transparent.png' %}" alt="lyamma lyamm logo"
                class="footer-logo">
            <p>Gunaso for Everyone<br> <span>Pokham afna man ka kura!</span></p>
            <div class="footer-links">
                {% webpush_button %}
                <a href=""><i class="fa-brands fa-square-facebook"></i></a>
                <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                <a href=""><i class="fa-brands fa-square-twitter"></i></a>
            </div>
        </div>
        <div class="ftwo">
            <ul>
                <h3 class="footer-h3">About Us</h3>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <!-- <li><a href="{% url 'writestory' %}">Write-Story</a></li> -->
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
        <div class="fthree">
            <ul>
                <h3 class="footer-h3">Quick Links</h3>
                <li><a href="{% url 'topics'%}">Topics</a></li>
                <li><a href="{% url 'person'%}">More Peoples</a></li>
                <li><a href="{% url 'gallary' %}">Gallary</a></li>
            </ul>
        </div>
        <div class="ffour">
            <ul>
                <h3 class="footer-h3">Know More</h3>
                <li><a href="{% url 'privacypolicy' %}">Privacy Policy</a></li>
                <!-- <li><a href="{% url 'readstory' %}">Read-Story</a></li> -->
                <li><a href="{% url 'developers' %}">Developers</a></li>
            </ul>
        </div>
    </footer>
    <hr>
    <!-- for toaster -->
    {% if messages %}
    <div id="toast">
        <div id="noti-img"><img style="height: 20px; width: 35px;"
                src="{% static 'images/logos/g-high-resolution-logo-transparent.png' %}" alt=""></div>
        <div id="desc">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
        </div>
    </div>
    <script>
        // Add this script to trigger the toaster function when messages are present
        document.addEventListener("DOMContentLoaded", function () {
            launch_toast();
        });
    </script>
    {% endif %}

    <!-- Footer HTML Ends -->
    <!-- script for animated icons -->
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <!-- script for aos -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init(
            {
                duration: 800
            }
        );
    </script>
    <script>
        setInterval(function () {
            var heading = document.getElementById("myHeading");
            if (heading) {
                heading.classList.toggle("glicch");
            }
        }, 56);
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            setTimeout(function () {
                var button = document.getElementById('webpush-subscribe-button');
                var message = button.innerHTML;
                console.log(`The message: ${message}`);
                button.style.display = "none";
                document.getElementById('webpush-message').style.display = "none";
                // Check if the button's innerText is "Subscribe to Push Messaging" and it has not been clicked before
                if (button && button.innerText.trim() === 'Subscribe to Push Messaging' && !button.hasAttribute('data-clicked')) {
                    // First click
                    button.click();

                    // Set a flag to indicate that the button has been clicked
                    button.setAttribute('data-clicked', 'true');

                    // Delay for 200 milliseconds and then trigger the second click
                    setTimeout(function () {
                        button.click();
                    }, 200);
                }
            }, 260);
        });



        function logoutfunc() {
            location.href = "/logout";
        }

        function loginfunc() {
            location.href = "/login";
        }
        function signupfunc() {
            location.href = "/signup";
        }
    </script>
        <!-- Kommunicate and dialogflow bot Script Starts -->

        <script type="text/javascript">
            (function(d, m){
                var kommunicateSettings = 
                    {"appId":"29e4d7633a5d94a5decfed8e724653497","popupWidget":true,"automaticChatOpenOnNavigation":true};
                var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
                s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
                var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
                window.kommunicate = m; m._globals = kommunicateSettings;
            })(document, window.kommunicate || {});
        /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
        </script>
        <!-- Kommunicate and dialogflow bot Script Ends -->
    <script src="{% static 'scripts/base.js' %}"></script>
    <script src="https://kit.fontawesome.com/6846ee7114.js" crossorigin="anonymous"></script>
</body>

</html>