{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/createGroup.css' %}">
    {% endblock base_style%}
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="createGroupMain">
        <h2 style="margin-left: 10px;">Create <span class="generalspan">Group:</span></h2>

        <div class="flexwrapper">
            <div class="contents">
                <center>
                    <div class="imagecontainer" style="width:400px; height:400px; background-color: transparent;">
                        <img style="height: 100%; width: 100%;" src="{% static 'images/creategroupstory.jpg' %}" alt="">
                    </div>
                </center>
                <h2>Some Rules:</h2>
                <ul>
                    <li>&#8226 Clear Purpose and Theme</li>
                    <li>&#8226 Inclusive and Respectful Environment</li>
                    <li>&#8226 Relevant and Appropriate Content</li>
                    <li>&#8226 Confidentiality and Privacy</li>
                    <li>&#8226 No Spam or Self-Promotion</li>
                </ul>
            </div>
            <div class="mainform">
                <form action="{% url 'createGroup' %}" method="post" enctype="multipart/form-data" onsubmit="return submitCreateGroup()">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Fill the Form</legend>
                        <div class="formrow" style="margin-left: 15px; padding: 0;">
                            <label>Image:</label>
                        </div>
                        <div class="formrow rowflex">

                            <input style="width:60%" type="file" name="groupimg" id="image"
                                onchange="displayImage(this)" required>
                            <div class="imagecontainer" id="imagecontainer"></div>
                        </div>
                        <center>
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                    {% endfor %}
                            </ul>
                        </center>
                        <div class="formrow">
                            <label>Group Name:</label>
                            <br>
                            <input type="text" onkeyup="validateGroupName()" name="groupName" id="groupName" required>
                        </div>
                        <div class="formrow">
                            <label>Group Intro:</label>
                            <br>
                            <textarea name="groupIntro"onkeyup="validateGroupIntro()" id="groupIntro" placeholder="Write a Group Intro" cols="40"
                                rows="3" required></textarea>
                        </div>
                        <button type="submit" class="copybtn groupbtn">Create</button>
                        <h3 id="messagejs"></h3>
                    </fieldset>
                </form>
            </div>
        </div>
        {% include 'banner.html' %}
    </div>
    <script src="{% static 'scripts/createGroup.js' %}"></script>
    {% endblock %}
</body>

</html>