{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/developers.css' %}">
    {% endblock base_style%}
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="developersmain">
        <div class="introtext">
            <h2>Our <span>Team</span></h2>
            <p>Here are our developers who worked hard and working hard to maintain this System.</p>
        </div>

        <!-- Devlopers cards -->
        <div class="cards">
            {% for item in developers %}
            <div class="card">
                <div class="imagepart">
                    <!-- <img src="{{item.image.url}}" alt=""> -->
                    <div class="imagecontain" style="background-image: url({{item.image.url}});">     
                    </div>
                </div>
                <div class="textpart">
                    <h2>{{item.name}}</h2>
                    <h3>{{item.position}}</h3>
                    <hr>
                    <div class="aboutandlinks">
                        <p>{{item.bio}}</p>

                        <div class="links">
                            <a href="{{item.facebook}}" target="_blank">
                                <i class="ri-facebook-box-fill"></i>
                            </a>
                            <a href="{{item.instagram}}" target="_blank">
                                <i class="ri-instagram-fill"></i>
                            </a>
                            <a href="{{item.x}}" target="_blank">
                                <i class="ri-twitter-x-fill"></i>
                            </a>
                            <a href="{{item.github}}" target="_blank">
                                <i class="ri-github-fill"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% include 'banner.html' %}
    </div>
    {% endblock %}
</body>

</html>