{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/famoustopics.css' %}">
    {% endblock base_style%}
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="famoustopicsmain">
        <div class="containflex">
            <div class="leftside">
                <h2>{{post.name}}</h2>
                <p>{{post.date}}</p>
                <p>#{{post.tagone}} #{{post.tagtwo}}</p>
                <img src="/media/{{post.image}}" alt="">
                <p>{{post.introduction}}</p>
                <!-- Self Thought (Comment) Form starts -->
                <!-- Self Thought (Comment) Form ends -->
                <!-- Your Thoughts System Starts -->
                <h2>People Thoughts</h2>
                <div class="commentbox">
                    <div class="comment">
                        <h4>Jemsey Bhai</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, quis. Incidunt fugiat
                            quae nulla!</p>
                    </div>
                    <div class="comment">
                        <h4>Jemsey Bhai</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, quis. Incidunt fugiat
                            quae nulla! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo porro at voluptas.</p>
                    </div>
                    <div class="comment">
                        <h4>Jemsey Bhai</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, quis. Incidunt fugiat
                            quae nulla!</p>
                    </div>
                </div>
                <!-- Your Thoughts System Ends-->
            </div>
            <div class="rightside">
                <h3>Search</h3>
                <input type="text">
                <h3>Categories</h3>
                <ul>
                    <li>hello</li>
                    <li>hello</li>
                    <li>hello</li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>