{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/famoustopics.css' %}">
    {% endblock base_style%}
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="famoustopicsmain">
        <div class="containflex">
            <div class="leftside">
                <h2>{{topic.name}}</h2>
                <p>{{topic.date}}</p>
                <p class="tags">#{{topic.tagone}} #{{topic.tagtwo}}</p>
                <img src="/media/{{topic.image}}" alt="">
                <p>{{topic.introduction}}</p>
                <!-- Your Thoughts System Starts -->
                <h2>People Thoughts</h2>
                <section class="thoughtsform">
                    <form action="{% url 'postThoughts' %}" method="post">
                        {% csrf_token %}
                        <label for="">Your Thoughts</label>
                        <br>
                        <input type="hidden" name="postsno" value="{{topic.sno}}">
                        <textarea name="comment" id="content" onkeyup="onKey()"
                            placeholder="Say Something about {{topic.name}}"></textarea>
                        <br>
                        <h3 id="messagejs"></h3>
                        <input type="submit" value="Post" class="copybtn postbtn">
                    </form>
                </section>
                <div class="commentbox">
                    {% for comment in comments %}
                    <div class="comment">
                        <div class="imagepart">
                            <img src="{% static 'images/noone.png' %}" alt="userimg">
                            <!-- <i class="ri-user-3-fill"></i> -->
                        </div>
                        <div class="textpart">
                            <h4>Anonymous</h4>
                            <p>{{comment.comment}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Your Thoughts System Ends-->
            </div>
            <div class="rightside">
                <div class="searchdiv">
                    <!-- <h3>Search</h3> -->
                    <i class='bx bx-search-alt'></i>
                    <input class="searchinp" placeholder="Search..." type="text">
                </div>
                <div class="catandside">
                    <div class="categoriesdiv">
                        <h3>Categories</h3>
                        <div class="uls">
                            <ul class="lineone">
                                <li><a href="#">Politics</a></li>
                                <li><a href="#">Celebraties</a></li>
                                <li><a href="#">More People</a></li>
                            </ul>
                            <ul class="lineone">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="categoriesdiv">
                        <h3>Side Widget</h3>
                        <p>Delve into a diverse tapestry of authentic human stories - from heartfelt reflections to
                            intriguing confessions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        
        // script to stop bad comments starts
        
        const badWords = ["fuck", "bitch", "dick", "ass", "asshole", "pussy", "lado", "puti", "chikne", "machikne", "machikney", "machikni", "randi", "radi"];
        function onKey() {
            const contentValue = document.querySelector("#content").value.toLowerCase();
            const messageElement = document.querySelector("#messagejs");
            const hasBadWord = badWords.some(word => new RegExp(`\\b${word}\\b`).test(contentValue));

            if (hasBadWord) {
                messageElement.innerText = "Bad Word Detected";
                document.querySelector(".postbtn").style.cursor = "not-allowed";
            } else {
                messageElement.innerText = "";
                document.querySelector(".postbtn").style.cursor = "pointer";
            }
        }

        function validateForm() {
            const contentValue = document.querySelector("#content").value.toLowerCase();

            if (badWords.some(word => contentValue.includes(word))) {
                document.querySelector("#messagejs").innerText = "Bad Word Detected";
                document.querySelector(".postbtn").style.cursor = "not-allowed";
                return false;
            }

            return true;
        }
        // script to stop bad comments ends
    </script>
    {% endblock %}
</body>

</html>