{% extends 'base.html' %}
{% load static %}
{% load extras %}
{% load filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/groupParticular.css' %}">
    {% endblock base_style%}
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="famoustopicsmain">
        <center>
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
        </center>
        <div class="containflex">
            <div class="leftside">
                <h2>{{allgroups.Groupname}}</h2>
                <!-- <img src="/media/{{topic.image}}" alt=""> -->
                <div class="profileimg" onclick="toggleProfileImg()"
                    style="background-image: url('../media/{{ allgroups.image }}');">
                </div>
                <p>{{topic.introduction}}</p>
                <!-- Your Thoughts System Starts -->
                <h2>People Thoughts</h2>
                <section class="thoughtsform">
                    <form action="{% url 'postThoughtsGroup' %}" method="post" onsubmit="return validateForm()">
                        {% csrf_token %}
                        <label for="">Your Thoughts</label>
                        <br>
                        <input type="hidden" name="postsno" value="{{allgroups.sno}}">
                        <input type="hidden" name="parentsno" value="">
                        <textarea name="comment" id="content" class="mention-textarea" onkeyup="onKey()"
                            placeholder="Say Something on {{allgroups.Groupname}}"></textarea>
                        <br>
                        <h3 id="messagejs"></h3>
                        <input type="submit" value="Post" class="copybtn postbtn">
                    </form>
                </section>
                <div class="commentbox">
                    {% for comment in comments %}
                    <div class="comment">
                        <div class="imagepart">
                            <img src="{% static 'images/noone.png' %}" alt="userimg">
                            <!-- <i class="ri-user-3-fill"></i> -->
                        </div>
                        <div class="textpart">
                            <h4>Anonymous</h4>
                            <p>{{ comment.comment|mention_bold|safe }}</p>
                            <p class="replycommenttrigger" id="replytrigger{{ comment.sno }}"
                                onclick="replyPOP({{ comment.sno }})">Reply</p>
                        </div>
                    </div>


                    <form class="replyform" id="replyform{{ comment.sno }}" action="{% url 'postThoughtsGroup' %}"
                        method="post" onsubmit="return validateFormreply()">
                        {% csrf_token %}
                        <textarea name="comment" class="contentreply" id="contentreply{{ comment.sno }}" onkeyup="onKey2()"
                            placeholder="Reply on {{allgroups.Groupname}}"></textarea>
                        <input type="hidden" name="parentsno" value="{{comment.sno}}">
                        <input type="hidden" name="postsno" value="{{allgroups.sno}}">
                        <br>
                        <h3 id="messagejsreply"></h3>
                        <input type="submit" value="Post" class="copybtn postbtn replybtn">
                    </form>

                    {% for reply in reply_dict|get_val:comment.sno %}
                    <div class="replycomment comment">

                        <div class="imagepart">
                            <img src="{% static 'images/noone.png' %}" alt="userimg">
                        </div>
                        <div class="textpart">
                            <h4>Anonymous</h4>
                            <p>{{reply.comment}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>

            </div>
            <div class="rightside">
                <div class="searchdiv">
                    <!-- <h3>Search</h3> -->
                    <i class='bx bx-search-alt'></i>
                    <input class="searchinp" placeholder="Search..." type="text">
                </div>
                <div class="catandside">
                    <div class="categoriesdiv">
                        <h3>Categories</h3>
                        <div class="uls">
                            <ul class="lineone">
                                <li><a href="#">Politics</a></li>
                                <li><a href="#">Celebraties</a></li>
                                <li><a href="#">More People</a></li>
                            </ul>
                            <ul class="lineone">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="categoriesdiv">
                        <h3>About</h3>
                        <p>{{allgroups.introduction}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="{% static 'scripts/comments.js' %}"></script>
    <script>
        function replyPOP(commentId) {
            let overlay = document.querySelector(`#replyform${commentId}`);
            let triggerBtn = document.querySelector(`#replytrigger${commentId}`);

            overlay.style.display = overlay.style.display === "none" || overlay.style.display === "" ? "block" : "none";
            triggerBtn.innerHTML = overlay.style.display === "none" ? "Reply" : "Close";
        }
    </script>
    {% endblock %}
</body>

</html>