{% extends 'base.html' %}
{% load static %}
{% load webpush_notifications %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/indexbackup.css' %}">
    {% endblock base_style%}
    <title>Index | Gunaso</title>
</head>
{% block content %}

<body>
    <div class="index-main">
        <center>
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}
                style="background-color: rgb(224, 247, 251);">{{ message }}</li>
                {% endfor %}
        </center>

        <!-- top hero part -->
        <div class="hero">
            <img src="{% static 'images/indexmain.jpg' %}" alt="">
            <!-- <img src="https://images.unsplash.com/photo-1488229297570-58520851e868?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""> -->
            <div class="contents">
                <h2>Express <span class="generalspan" style="color:#643bf9;">in </span>"Gunaso"</h2>
                <p>" Welcome to our confession community, where your unspoken words find a safe space to be heard,
                    understood, and embraced, fostering healing and connection among shared experiences. "</p>
                <a href="/persons">
                    <button class="copybtn postbtn">Explore</button>
                </a>
                <div class="overlapcards">
                    <div class="card">
                        <h3>Confess</h3>
                        <i class="fa-solid fa-hand-holding-hand fa-beat"></i>
                    </div>
                    <div class="card">
                        <h3>Connect</h3>
                        <i class="fa-solid fa-earth-asia fa-beat"></i>
                    </div>
                    <div class="card">
                        <h3>Community</h3>
                        <i class="fa-solid fa-people-group fa-beat"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- top users cards -->
        <div class="wrapper">
            <center>
                <h2>Famous <span class="generalspan">Users</span></h2>
            </center>
            <div class="usercards">
                {% for item in mainusers %}
                <a href="/user/{{item.user}}/">
                    <div class="cardcontainer">
                        <div class="card" style="background-image: url(/media/{{item.image}});"></div>
                        <div class="text">
                            <h3>{{item.user}}</h3>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

        <!-- Topic/Celebraties cards section -->
        <div class="downwrapper">
            <center>
                <h2>Famous <span class="generalspan">Topics</span></h2>
            </center>
            <div class="topics-card">
                {% for item in alltopics %}
                <a href="topics/{{item.slug}}">
                    <div class="cardcontainer">
                        <div class="bigcard" style="background-image: url(/media/{{item.image}});"></div>
                        <div class="text">
                            <h3>{{item.name}}</h3>
                            <p>{{item.introduction|truncatechars:150}}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

        <!-- horizontal rollable section -->
        <center>
            <h2>User <span class="generalspan">Views</span></h2>
        </center>
        <div class="rollwrapper">
            <i class="fa-solid fa-angle-left" id="prevbtn" onclick="scrollToLeft()"></i>
            <i class="fa-solid fa-angle-right" id="nextbtn" onclick="scrollToRight()"></i>


            <section class="rollcardcontainer">
                {% for i in '012345'|make_list %}
                <div class="rollcard">
                    <img src="https://source.unsplash.com/random/?person of nepal" alt="">
                </div>
                {% endfor %}
            </section>
        </div>


        <!-- Abovefooter section -->

        <div class="testimonial">
            <div class="testimonialwrapper">

                <div class="imgpart">
                    <img src="{% static 'images/sujal.jpg' %}" alt="">
                </div>
                <div class="textpart">
                    <h3>Sujal Rimal</h3>
                    <p>Using Gunaso makes me more comfortable to share my experiences with all other peoples about my
                        football skills and it is amazing to use Gunaso to share my emotions to the peoples with whom I
                        can't communicate face-to-face.
                    </p>
                </div>
            </div>
        </div>
        {% include 'banner.html' %}
    </div>
    <!-- <script src="{% static 'scripts/index.js' %}"></script> -->
    <script>
        document.getElementById("show-logout").onclick = function () {
            location.href = "/logout";
        };

        function scrollToLeft() {
            const rollContainer = document.querySelector('.rollcardcontainer');
            rollContainer.scrollLeft -= 500; // Decrease the scrollLeft value for left scroll
        }

        function scrollToRight() {
            const rollContainer = document.querySelector('.rollcardcontainer');
            rollContainer.scrollLeft += 500; // Increase the scrollLeft value for right scroll
        }


    </script>
    {% endblock %}
</body>

</html>