{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/password_reset_system.css' %}">
    {% endblock base_style%}
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="password-system-main">
        <div class="password-system-main">
            <div class="wrapper">
                <div class="imagecontainer">
                    <img src="{% static 'images/maildeleveredstory.png' %}" alt="">
                </div>
                <div class="contents" style="flex-basis: 40%;">
                    <p class="normalpara">We've emailed you instructions for setting your password, if an account exists
                        with the email you entered.
                        You should receive them shortly.
                        <br>
                        If you don't receive an email, please make sure you've entered the address you registered with,
                        and check your spam folder.
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
</body>

</html>