{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/password_reset_system.css' %}">
    {% endblock base_style%}
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="password-system-main">
        <div class="password-system-main">
            <div class="wrapper">
                <div class="imagecontainer">
                    <img src="{% static 'images/maildeleveredstory.png' %}" alt="">
                </div>
                <div class="contents" style="flex-basis: 40%;">
                    {% if validlink %}
                    <h3>Change <span class="generalspan">Password</span></h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Change Password</button>
                    </form>
                    {% else %}
                    <p class="normalpara">
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
</body>

</html>