{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/password_reset_system.css' %}">
    {% endblock base_style%}
    <title>Document</title>
</head>

<body>
    {% block content %}
    <!-- <div class="password-system-main">
        <p class="normalpara">
        Your password has been set. You may go ahead and <a href="/login">Log In</a> now.
        </p>
    </div> -->

    <div class="password-system-main">
        <div class="password-system-main">
            <div class="wrapper">
                <div class="imagecontainer">
                    <img src="{% static 'images/resetcompletestory.png' %}" alt="">
                </div>
                <div class="contents" style="flex-basis: 40%;">
                    <p class="normalpara">
                        Your password has been set. You may go ahead and <a href="/login">Log In</a> now.
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
</body>

</html>