{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<style>
    * {
        font-family: sans-serif;
    }
</style>

<body>
    {% block content %}
    <h3>Go to index page</h3>
    <a href="/">Index</a>
    <h1>User Profile for {{ username }}</h1>

    <!-- 
    <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Share Something</legend>
            <textarea name="gunaso" id="gunaso" cols="100" rows="10" placeholder="Your message:"></textarea>
            <br><br>
            <input type="submit" value="Send">
        </fieldset>
    </form> -->

    <form method="post">
        {% csrf_token %}
        <label for="content">Write on {{ target_user.username }}'s timeline:</label>
        <textarea name="content" required></textarea>
        <button type="submit">Post</button>
    </form>
    <br>
    <h3>{{username}} Timeline:</h3>
    <h1>1.</h1>
    {% for gunasoloop in showgunaso %}
    <p>{{gunasoloop.gunaso}}</p>
    <hr>
    {% endfor %}
    {% endblock %}
</body>

</html>