{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/signuppage.css' %}">
    {% endblock base_style%}
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="main">
        <div class="mainone">
            <form action="{% url 'signup' %}" method="post" onsubmit=" return onSignupSubmit()" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Signup:</h2>
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                <div class="profilepiccontainer" id="profilePicContainer">
                    <!-- Display uploaded image here -->
                </div>  
                <input type="file" id="profile-pic" name="image" accept="image/*" class="imageinput" onchange="displayImage(this)" required >
                <label>Your Intro:</label>
                <input class="generalinp" onkeyup="introValid()" type="text" name="intro" id="intro" required>
                <div class="combobox">
                    <div class="formrow">
                        <label>Username:</label>
                        <input class="generalinp" onkeyup="usernameValid()" type="text" name="username" id="username" required>
                    </div>
                    <div class="formrow">
                        <label>Email:</label>
                        <input class="generalinp" type="text" name="email" id="email" onkeyup="emailValid()" id="" required>
                    </div>
                </div>

                <div class="combobox">
                    <div class="formrow">
                        <label>Password:</label>
                        <input class="generalinp" onkeyup="passwordValid()" type="password" name="password" id="password" required>
                    </div>
                    <div class="formrow">
                        <label>Confirm Password:</label>
                        <input class="generalinp" type="password" onkeyup="passwordMatchValid()" name="cpassword" id="cpassword" required>
                    </div>
                </div>
                <input type="submit" value="Signup" class="copybtn" id="signupbtn">
                <div id="quickmessage"></div>
            </form>
        </div>
        <div class="maintwo">
            <img src="{% static 'images/story2.png' %}" alt="">
        </div>
    </div>

    <script src="{% static 'scripts/signup.js' %}"></script>
    {% endblock %}
</body>

</html>