{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/topics.css' %}">
    {% endblock base_style%}
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="famoustopicsmain">
        <div class="containflex">
            <div class="leftside">
                <h2>Search <span class="blue">Results:</span></h2>
                {% if allTopic|length < 1 %}
                <h2 style="margin-top: 1rem;">OOPS!</h2>
                <p>No search results</p>
                <h5 style="color:#ff7a7a;">Your search - <b>{{query}}</b> - did not match any documents.</h5>
                {% endif %}
                <div class="gridcontain">
                    {% for topic in allTopic %}
                    <a href="../user/{{person.user}}">
                        <div class="card" style="background-image: url(../media/{{topic.image}});">
                            <h2>{{topic.name}}</h2>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="rightside">
                <div class="searchdiv">
                    <form method="get" action="{% url 'searchperson' %}">
                        <input class="searchinp" type="search" placeholder="Search Person"
                            aria-label="Search" name="query" id="query">
                        <button class="copybtn" type="submit" style="margin: 0;">
                            <i class='bx bx-search-alt'></i>
                        </button>
                    </form>
                </div>
                <div class="catandside">
                    <div class="categoriesdiv">
                        <h3>Categories</h3>
                        <div class="uls">
                            <ul class="lineone">
                                <li><a href="#">Politics</a></li>
                                <li><a href="#">Celebraties</a></li>
                                <li><a href="#">More People</a></li>
                            </ul>
                            <ul class="lineone">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="categoriesdiv">
                        <h3>Side Widget</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis corporis hic nulla,
                            numquam quo officiis autem?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>