{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/topics.css' %}">
    {% endblock base_style%}
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="famoustopicsmain">
        <div class="containflex">
            <div class="leftside">
                <h2>All <span class="blue">Topics:</span></h2>
                <div class="gridcontain">
                    {% for alltopics in alltopics %}
                    <a href="{{alltopics.slug}}">
                        <div class="card" style="background-image: url(../media/{{alltopics.image}});">
                            <h2>{{alltopics.name}}</h2>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="rightside">
                <div class="searchdiv">
                    <!-- <h3>Search</h3> -->
                    <i class='bx bx-search-alt'></i>
                    <input class="searchinp" placeholder="Search..." type="text">
                </div>
                <div class="catandside">
                    <div class="categoriesdiv">
                        <h3>Categories</h3>
                        <div class="uls">
                            <ul class="lineone">
                                <li><a href="#">Politics</a></li>
                                <li><a href="#">Celebraties</a></li>
                                <li><a href="#">More People</a></li>
                            </ul>
                            <ul class="lineone">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="categoriesdiv">
                        <h3>Side Widget</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis corporis hic nulla,
                            numquam quo officiis autem?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>