{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/update_profile.css' %}">
    {% endblock base_style%}
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="main">
        <div class="maintwo">
            <img src="{% static 'images/changepasswordstory.png' %}" alt="">
        </div>
        <div class="formwrapper">

            <div class="mainone">
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                <form action="{% url 'update_password' user=user %}" method="post">
                    {% csrf_token %}
                    <h2>Update Password:</h2>
                    <div class="combobox">
                        <div class="formrow">
                            <label>Old Password:</label>
                            <input class="generalinp" type="password" name="old_password" required>
                        </div>
                        <div class="formrow">
                            <label>New Password:</label>
                            <input class="generalinp" type="password" name="new_password1" required>
                        </div>
                        <div class="formrow">
                            <label>Confirm New Password:</label>
                            <input class="generalinp" type="password" name="new_password2" required>
                        </div>
                    </div>
                    <div class="combobox" style="display: flex; justify-content: space-around;">
                        <a href="{% url 'update_password' user=user %}" class="morebtn">Update Password</a>
                        <a href="/user/{{user}}" class="morebtn">View Profile</a>
                    </div>
                    <input type="submit" style="margin: 20px 0 0 0; width: 100%; height: 6vh;" value="Update" class="copybtn" id="updatePasswordBtn">
                    <div id="quickmessage"></div>
                </form>
                
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>