{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/update_profile.css' %}">
    {% endblock base_style%}
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="main">
        <div class="maintwo">
            <img src="{% static 'images/story3.png' %}" alt="">
        </div>
        <div class="mainone">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            <form action="{% url 'update_profile' %}" method="post" enctype="multipart/form-data">
                <h2>Update Profile:</h2>
                {% csrf_token %}
                <!-- <label for="image">Profile Picture:</label> -->
                <div class="profilepiccontainer" id="profilePicContainer">
                    <!-- Display uploaded image here -->
                </div>
                <input type="file" id="profile-pic" name="image" accept="image/*" class="imageinput"
                    onchange="displayImage(this)">
                <!-- <input type="file" name="image" id="id_image" accept="image/*" required> -->
                <div class="combobox">
                    <div class="formrow">
                        <label>Username:</label>
                        <input class="generalinp" type="text" name="username" id="">
                    </div>
                    <div class="formrow">
                        <label>Email:</label>
                        <input class="generalinp" type="text" name="email" id="">
                    </div>
                </div>

                <div class="combobox">
                    <div class="formrow">
                        <label>Password:</label>
                        <input class="generalinp" type="password" name="password" id="">
                    </div>
                    <div class="formrow">
                        <label>Confirm Password:</label>
                        <input class="generalinp" type="password" name="cpassword" id="">
                    </div>
                </div>
                <input type="submit" value="Signup" class="copybtn">
            </form>
        </div>
    </div>

    <script>
        function displayImage(input) {
            var file = input.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('profilePicContainer').style.backgroundImage = 'url(' + e.target.result + ')';
                };
                reader.readAsDataURL(file);
            }
        }
    </script>
    {% endblock %}
</body>

</html>