{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/user_timeline.css' %}">
    {% endblock base_style%}
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="timelinemain">
        <!-- user_timeline.html -->
        <h2>{{ extracted_category }}'s Timeline</h2>

        {% for post in user_posts %}
        <p>{{ post.content }} - {{ post.created_at }}</p>
        {% endfor %}

        {% for p in forimgfetch %}
        <img src="../../media/{{p.image}}" alt="mero">
        {% endfor %}
        
        <form method="post" action="">
            {% csrf_token %}
            <div class="row">
                <label for="">Subject:</label>
                <input type="text" name="subject" required>
            </div>
            <div class="row">
                <label for="">Message:</label>
                <textarea name="content" placeholder="Gunaso Pokhnuhos" required></textarea>
            </div>
            <button type="submit">Post</button>
        </form>


    </div>
    {% endblock %}

</body>

</html>