{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/writestory.css' %}">
    {% endblock base_style%}
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="writestorymain">
        <h2>Write <span>Story:</span></h2>
        <div class="flexcontain">
            <div class="rules">
                <div class="rulesimg" data-aos="fade-down">
                    <img src="{% static 'images/story5.png' %}" alt="" >
                </div>
                <h3>Some Rules:</h3>
                <ul>
                    <li>Be Honest: Share your story authentically and from the heart.</li>
                    <li>Respect Privacy: Avoid sharing personal details that could compromise your safety or the safety
                        of others.</li>
                    <li>No Harmful Intent: Refrain from promoting harm, hate, or any form of violence in your
                        narratives.</li>
                    <li>Judgment-Free Zone: Embrace diversity and be mindful of others' feelings when sharing your
                        story.</li>
                </ul>
            </div>
            <div class="mainfrom" data-aos="fade-up">
                <form action="" method="post" onsubmit="return validateStoryForm()">
                    {% csrf_token %}
                    <div class="col">
                        <!-- <label for="">Write a Subject: </label> -->
                        <input placeholder="Subject of Story" onkeyup="storySubjectValid()" type="text" name="subject" id="subject" required>
                    </div>
                    <div class="col">
                        <label for="">Choose Story Type:</label>
                        <select name="storytype" id="" required>
                            <option value="lovestory">Love Story</option>
                            <option value="thriller">Thriller</option>
                            <option value="emotional">Emotional</option>
                            <option value="happy">Happy</option>
                            <option value="politics">Politics</option>
                            <option value="meetup">Meetup</option>
                        </select>
                    </div>
                    <div class="col">
                        <textarea placeholder="Write a story..." name="storycontent" onkeyup="onKeystory()" id="storycontent"
                            cols="30" rows="10" required></textarea>
                        <h3 id="messagejs"></h3>
                        <input type="submit" class="copybtn storypostbtn" value="Post">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'scripts/writestory.js' %}"></script>
    <script src="{% static 'scripts/comments.js' %}"></script>
    {% endblock %}
</body>

</html>