{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block base_style%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/writestory.css' %}">
    {% endblock base_style%}
    <title>Document</title>
</head>

<body>
    {% block content %}
    <div class="writestorymain">
        <h2>Write <span>Story</span></h2>
        <h3>Some Rules:</h3>
        <ul>
            <li>Rule 1</li>
            <li>Rule 2</li>
            <li>Rule 3</li>
            <li>Rule 4</li>
        </ul>
        <form action="" method="post">
            {% csrf_token %}
            <label for="">Write a Subject: </label>
            <input type="text" name="subject" id="subject">
            <br>
            <label for="">Choose Story Type:</label>
            <select name="storytype" id="">
                <option value="lovestory">Love Story</option>
                <option value="thriller">Thriller</option>
                <option value="emotional">Emotional</option>
                <option value="happy">Happy</option>
                <option value="politics">Politics</option>
                <option value="meetup">Meetup</option>
            </select>
            <br>
            <label for="">Your Story:</label>
            <textarea name="storycontent" id="" cols="30" rows="10"></textarea>
            <input type="submit" class="copybtn" value="Post">
        </form>
    </div>
    {% endblock %}
</body>

</html>