:root {
    /* --dark: #05386B; */
    /* --color: #560bad; */
    --dark: #754ffe;
    --darkgreen: #379683;
    --bcolor: #5CDB95;
    --cooltexr: #4a4b65;
    --backupgreen: #8EE4AF;
    --para: #EDF5E1;
    /* MATHI KO IMP */
    --mainheading: #FFF;
    --hotish: #FF3FA4;
    --skyblue: #525FE1;
    --footer: #18113c;
}

.main404 {
    margin-left: 5rem;
}

.maincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 22vh;
}

.returnmessage {
    padding: 20px;
    border-radius: 6px;
    background-color: gainsboro;
    text-align: center;
}

@media (min-width: 991px) {
    .main404 img {
        width: 30%;
        height: 50vh;
    }
}

@media (max-width: 991px) {
    .main404 {
        margin: 0;
    }

    .main404 h1 {
        font-size: 24px;
    }

    .main404 h3 {
        font-size: 14px;
    }

    .main404 img {
        width: 100%;
        /* height: 40vh; */
    }

    .returnmessage {
        margin: 0 10px;
    }
}