* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

:root {
    /* --dark: #05386B; */
    --dark: #754ffe;
    --darkgreen: #379683;
    --bcolor: #5CDB95;
    --cooltexr: #4a4b65;
    --backupgreen: #8EE4AF;
    --para: #EDF5E1;
    /* MATHI KO IMP */
    --mainheading: #FFF;
    --hotish: #FF3FA4;
    --skyblue: #525FE1;
    --footer: #18113c;
}

.analyticsmain{
    margin-left: 5rem;
}
.analyticsmain span{
    color: var(--dark);
}

.flexcontain{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.chart{
    display: flex;
    justify-content: start;
}

.bio{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bio .contents{
    background-color: gainsboro;
    padding: 40px;
    border-radius: 6px;
}

.medal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourtable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ourtable img{
    height: 34px;
    width: 30px;
}

table,tr,th{
    background-color:gainsboro;
    padding: 10px 20px;
    border: 2px solid var(--dark);
    border-collapse: collapse;
}


@media (max-width: 920px) {
    .analyticsmain{
        margin-left: 0;
    }
    .flexcontain{
        flex-direction: column;
        gap: 3rem;
    }
    .chart{
        justify-content: center;
    }
    .analyticsmain>h2{
        text-align: center;
    }
}