@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

body.hidden-scrolling {
    overflow-y: hidden;
}

:root {
    /* --dark: #05386B; */
    --dark: #754ffe;
    --darkgreen: #379683;
    --bcolor: #5CDB95;
    --cooltexr: #4a4b65;
    --backupgreen: #8EE4AF;
    --para: #EDF5E1;
    /* MATHI KO IMP */
    --mainheading: #FFF;
    --hotish: #FF3FA4;
    --skyblue: #525FE1;
    --footer: #18113c;
}
/* =============================== */
/* Banner CSS starts */
/* =============================== */

.index-banner {
    height: 40vh;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    animation: bannerloop 20s linear infinite;
    margin: 1rem 0;
}
.bannerpar{
    text-align: center;
    padding:  0 300px;
}

.copybtn{
    width: 150px;
}
@keyframes bannerloop {
    0% {
        background-color: var(--cooltexr);
    }

    25% {
        background-color: var(--backupgreen);
    }

    50% {
        background-color: var(--bcolor);
    }

    75% {
        background-color: var(--hotish);
    }

    100% {
        background-color: var(--skyblue);
    }
}

/* for big screen */
@media(max-width: 980px) {
    .index-banner {
        height: 55vh;
    }
    .bannerpar{
        text-align: center;
        padding: 20px;
    }
}
