@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

:root {
    /* --dark: #05386B; */
    --dark: #754ffe;
    --darkgreen: #379683;
    --bcolor: #5CDB95;
    --cooltexr: #4a4b65;
    --backupgreen: #8EE4AF;
    --para: #EDF5E1;
    /* MATHI KO IMP */
    --mainheading: #FFF;
    --hotish: #FF3FA4;
    --skyblue: #525FE1;
    --footer: #18113c;
}

body {
    line-height: 1.5;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    /* background-color: var(--bcolor); */
    background-color: var(--mainheading);
}

body.hidden-scrolling {
    overflow-y: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_nav {
    /*max-width: 1170px;*/
    margin: auto;
}

ul {
    z-index: 11;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item a {
    text-decoration: none;
}

/*header*/

.header {
    position: sticky;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99;
    padding: 0px;
    background-color: rgb(224, 247, 251);
}

.header-main {
    margin-left: 4.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 0; */
    border-radius: 4px;
}

.header .logo {
    padding: 0 15px;
}

.header .logo a {
    text-decoration: none;
    font-size: 30px;
    text-transform: capitalize;
    color: black;
    font-weight: 600;
}

.contentlogo {
    font-family: "Raleway", sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -11;
    margin-left: 10px;
}

.contentlogo .text {
    position: relative;
    color: black;
    ;
    font-weight: 700;
    font-size: 20px;
    transform: scale(2);
    padding: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.contentlogo .text:before,
.contentlogo .text:after {
    padding: 30px;
    color: black;
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 7px;
    background: rgb(224, 247, 251);
    overflow: hidden;
    top: 0;
}

/* for message redirect starts */
.error {
    color: red;
}

.success {
    color: green;
}

.warning {
    color: yellow;
}

/* for message redirect ends */

.contentlogo .text:before {
    left: 3px;
    text-shadow: -2px 0 var(--hotish);
    animation: glitch-1 2.5s linear infinite reverse;
}

.contentlogo .text:after {
    left: -3px;
    text-shadow: -2px 0 var(--dark);
    animation: glitch-2 2.5s linear infinite reverse;
}

@keyframes glitch-1 {
    0% {
        clip: rect(132px, auto, 101px, 30px);
    }

    /* 10% {
        clip: rect(40px, auto, 66px, 30px);
    }

    20% {
        clip: rect(137px, auto, 61px, 30px);
    }

    30% {
        clip: rect(133px, auto, 74px, 30px);
    }

    40% {
        clip: rect(59px, auto, 130px, 30px);
    } */

    50% {
        clip: rect(22px, auto, 67px, 30px);
    }

    60% {
        clip: rect(10px, auto, 105px, 30px);
    }

    70% {
        clip: rect(105px, auto, 13px, 30px);
    }

    80% {
        clip: rect(66px, auto, 39px, 30px);
    }

    90% {
        clip: rect(36px, auto, 128px, 30px);
    }

    100% {
        clip: rect(14px, auto, 100px, 30px);
    }
}

@keyframes glitch-2 {
    0% {
        clip: rect(129px, auto, 36px, 30px);
    }

    /* 
    10% {
        clip: rect(85px, auto, 66px, 30px);
    }

    20% {
        clip: rect(148px, auto, 138px, 30px);
    }
    30% {
        clip: rect(69px, auto, 54px, 30px);
    }

    40% {
        clip: rect(146px, auto, 34px, 30px);
    }

    50% {
        clip: rect(102px, auto, 80px, 30px);
    } */
    60% {
        clip: rect(106px, auto, 99px, 30px);
    }

    70% {
        clip: rect(20px, auto, 78px, 30px);
    }

    80% {
        clip: rect(78px, auto, 52px, 30px);
    }

    90% {
        clip: rect(67px, auto, 70px, 30px);
    }

    100% {
        clip: rect(83px, auto, 40px, 30px);
    }
}

.header .nav-menu {
    padding: 0 15px;
}

.header .menu>.menu-item {
    display: inline-block;
    margin-left: 30px;
    position: relative;
}

.header .menu>.menu-item>a {
    display: block;
    padding: 12px 0;
    font-size: 16px;
    color: #000000;
    text-transform: capitalize;
    font-weight: 600;
    transition: all 0.3s ease;
}

.header .menu>.menu-item>a .plus {
    display: inline-block;
    height: 12px;
    width: 12px;
    position: relative;
    margin-left: 5px;
    pointer-events: none;
}

.header .menu>.menu-item>a .plus:before,
.header .menu>.menu-item>a .plus:after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    background-color: #000000;
    height: 2px;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

.header .menu>.menu-item>a .plus:after {
    transform: translate(-50%, -50%) rotate(-90deg);
}

.header .menu>.menu-item>.sub-menu>.menu-item>a:hover,
.header .menu>.menu-item:hover>a {
    color: var(--dark);
}

.header .menu>.menu-item>.sub-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 220px;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #ffffff;
    padding: 10px 0;
    border-top: 3px solid var(--dark);
    transform: translateY(10px);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

@media (min-width: 992px) {
    .header .menu>.menu-item-has-children:hover>.sub-menu {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .header .menu>.menu-item-has-children:hover>a .plus:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.header .menu>.menu-item>.sub-menu>.menu-item {
    display: block;
}

.header .menu>.menu-item>.sub-menu>.menu-item>a {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    transition: all 0.3s ease;
    text-transform: capitalize;
}

.header .open-nav-menu {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header .open-nav-menu span {
    display: block;
    height: 5px;
    width: 30px;
    background-color: #000000;
    position: relative;
}

.header .open-nav-menu span:before,
.header .open-nav-menu span:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    box-sizing: border-box;
}

.header .open-nav-menu span:before {
    top: -9px;
}

.header .open-nav-menu span:after {
    top: 9px;
}

.header .close-nav-menu {
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin: 0 0 15px 15px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
}

.header .close-nav-menu img {
    width: 16px;
}

.header .menu-overlay {
    position: absolute;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

/* responsive */

@media (max-width: 991px) {
    .contentlogo {
        margin-left: 7px;
    }

    .header .menu-overlay.active {
        visibility: visible;
        opacity: 1;
    }

    .header-main {
        margin-left: 0;
    }

    .header .nav-menu {
        position: fixed;
        right: -280px;
        visibility: hidden;
        width: 280px;
        height: 100%;
        top: 0;
        overflow-y: auto;
        background-color: #222222;
        z-index: 1000;
        padding: 15px 0;
        transition: all 0.5s ease;
    }

    .header .nav-menu.open {
        visibility: visible;
        right: 0px;
    }

    .header .menu>.menu-item {
        display: block;
        margin: 0;
    }

    .header .menu>.menu-item-has-children>a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .menu>.menu-item>a {
        color: #ffffff;
        padding: 12px 15px;
        border-bottom: 1px solid #333333;
    }

    .header .menu>.menu-item:first-child>a {
        border-top: 1px solid #333333;
    }

    .header .menu>.menu-item>a .plus:before,
    .header .menu>.menu-item>a .plus:after {
        background-color: #ffffff;
    }

    .header .menu>.menu-item-has-children.active>a .plus:after {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    .header .menu>.menu-item>.sub-menu {
        width: 100%;
        position: relative;
        opacity: 1;
        visibility: visible;
        border: none;
        background-color: transparent;
        box-shadow: none;
        transform: translateY(0px);
        padding: 0px;
        left: auto;
        top: auto;
        max-height: 0;
        overflow: hidden;
    }

    .header .menu>.menu-item>.sub-menu>.menu-item>a {
        padding: 12px 45px;
        color: #ffffff;
        border-bottom: 1px solid #333333;
    }

    .header .close-nav-menu,
    .header .open-nav-menu {
        display: flex;
    }
}

button {
    /* --color: #560bad; */
    cursor: pointer;
    /* background-color: var(--dark); */
    background-color: #754ffe;
    font-family: inherit;
    display: inline-block;
    width: 5em;
    height: 2em;
    line-height: 1.9em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    /* z-index: 1; */
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--para);
}

button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--skyblue);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

button:hover {
    color: #fff;
}

button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

button:hover:before {
    top: -30px;
    left: -30px;
}

button:active:before {
    background: #3a0ca3;
    transition: background 0s;
}


/* =============================== */
/* Footer CSS Starts */
/* =============================== */
.footer {
    padding: 2rem 0 0;
    height: 40vh;
    background-color: var(--footer);
    margin-left: 4.4rem;
    color: var(--para);
    display: flex;
    justify-content: space-around;
}

.footer .fone {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.footer .fone span {
    color: var(--hotish);
    font-weight: bold;
}

.footer .fone .footer-links {
    display: flex;
    gap: 20px;
}

.footer .fone .footer-links a {
    text-decoration: none;
    color: var(--para);
    font-size: 30px;
}

.footer .fone .footer-links a:hover {
    color: var(--hotish);
}

.footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer ul li a {
    text-decoration: none;
    color: var(--para);
}

.footer ul li a:hover {
    color: var(--hotish);
}

.footer-logo {
    height: 100px;
    width: 100px;
}

.footer-h3 {
    text-align: center;
    border-bottom: 4px solid var(--mainheading);
    margin-bottom: 1rem;
}

/* footer css for small screen starts */
@media(max-width: 980px) {
    .footer {
        margin-left: 0;
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px 10px;
    }

    .footer-h3 {
        /* margin-top: 1rem; */
        border: none;
        text-align: start;
        margin-bottom: 0;
    }
}

/* footer css for small screen ends */

/* =============================== */
/* Footer CSS End */
/* =============================== */

.headerh4 {
    color: var(--hotish);
    padding-top: 8px;
}

.logo_img {
    height: 35px;
}


/* Sidebar css starts */
/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: #eef5fe;
} */
/* Pre css */
.flex {
    display: flex;
    align-items: center;
}

.nav_image {
    display: flex;
    min-width: 55px;
    justify-content: center;
}

.nav_image img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}

/* Sidebar */
.sidebar {
    z-index: 111;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 270px;
    background: var(--footer);
    padding: 15px 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

@-moz-document url-prefix() {
    .sidebar, .sidebar.close {
        overflow: hidden !important;
    }
}

.sidebar.close {
    width: calc(55px + 20px);
}

.logo_items {
    gap: 8px;
}

.logo_name {
    font-size: 22px;
    color: #fff;
    font-weight: 500px;
    transition: all 0.3s ease;
}

.sidebar.close .logo_name,
.sidebar.close #lock-icon,
.sidebar.close #sidebar-close {
    opacity: 0;
    pointer-events: none;
}

#lock-icon,
#sidebar-close {
    padding: 10px;
    color: var(--dark);
    font-size: 25px;
    cursor: pointer;
    margin-left: -4px;
    transition: all 0.3s ease;
}

#sidebar-close {
    display: none;
    color: #333;
}

.menu_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 7px;
    overflow-y: auto;
    height: calc(100% - 70px);
}

.menu_container::-webkit-scrollbar {
    display: none;
}

.menu_title {
    position: relative;
    height: 45px;
    width: 55px;
}

.menu_title .title {
    margin-left: 15px;
    color: var(--hotish);
    transition: all 0.3s ease;
}

.sidebar.close .title {
    opacity: 0;
}

.menu_title .line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 20px;
    border-radius: 25px;
    background: #fff;
    transition: all 0.3s ease;
}

.menu_title .line {
    opacity: 0;
}

.sidebar.close .line {
    opacity: 1;
}

.item {
    list-style: none;
}

.link {
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #fff;
}

.link:hover {
    color: #fff;
    background-color: var(--dark);
}

.link span {
    white-space: nowrap;
}

.link i {
    height: 50px;
    min-width: 55px;
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.sidebar_profile {
    padding-top: 5px;
    /* margin-top: 5px; */
    gap: 15px;
    border-top: 2px solid rgba(100, 100, 100, 0.3);
}

.sidebar_profile .name {
    font-size: 18px;
    color: #fff;
}

.sidebar_profile .email {
    font-size: 15px;
    color: var(--hotish);
}

/* Navbar */
.navbar {
    max-width: 500px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 60%;
    transform: translateX(-50%);
    background: #fff;
    padding: 10px 20px;
    border-radius: 0 0 8px 8px;
    justify-content: space-between;
}

#sidebar-open {
    font-size: 30px;
    color: #333;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}

.search_box {
    height: 46px;
    max-width: 500px;
    width: 100%;
    border: 1px solid #aaa;
    outline: none;
    border-radius: 8px;
    padding: 0 15px;
    font-size: 18px;
    color: #333;
}

.navbar img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
}

/* Responsive */
@media screen and (max-width: 1100px) {
    .navbar {
        left: 65%;
    }
}

@media screen and (max-width: 800px) {
    .sidebar {
        left: 0;
        z-index: 1000;
    }

    .sidebar.close {
        left: -100%;
    }

    #sidebar-close {
        display: block;
    }

    #lock-icon {
        display: none;
    }

    .navbar {
        left: 0;
        max-width: 100%;
        transform: translateX(0%);
    }

    #sidebar-open {
        display: block;
    }
}