* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

:root {
    /* --dark: #05386B; */
    --dark: #754ffe;
    --darkgreen: #379683;
    --bcolor: #5CDB95;
    --cooltexr: #4a4b65;
    --backupgreen: #8EE4AF;
    --para: #EDF5E1;
    /* MATHI KO IMP */
    --mainheading: #FFF;
    --hotish: #FF3FA4;
    --skyblue: #525FE1;
    --footer: #18113c;
}


/* Button */
.copybtn {
    cursor: pointer;
    background-color: var(--skyblue);
    font-family: inherit;
    display: inline-block;
    width: 5em;
    height: 2em;
    line-height: 1.9em;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--para);
}

.copybtn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--skyblue);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.copybtn:hover {
    color: #fff;
}

.copybtn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.copybtn:hover:before {
    top: -30px;
    left: -30px;
}

.copybtn:active:before {
    background: #3a0ca3;
    transition: background 0s;
}

.famoustopicsmain {
    margin: 0 .5rem 0 5rem;
}

.commentbox {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.comment {
    padding: 8px;
    border-radius: 5px;
    color: var(--mainheading);
    background-color: var(--dark);
}

.containflex {
    padding: 10px;
    display: flex;
    gap: 20px;
}

.leftside {
    padding: 0 10px 10px 10px;
    flex-basis: 70%;
}

.leftside img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
}

.tags {
    margin-bottom: 1rem;
    border-radius: 6px;
    width: max-content;
    padding: 4px;
    background-color: gainsboro;
}

.rightside {
    padding-top: 13px;
    flex-basis: 30%;
    border-radius: 6px;
}

.thoughtsform {
    display: flex;
    flex-direction: column;
}

textarea {
    padding: 7px;
    width: 100%;
    height: 10vh;
    background-color: gainsboro;
    color: #3a0ca3;
}

/* .overlay textarea{
    padding: 7px;
    width: 70%;
    height: 20vh;
} */
.replyform {
    display: none;
    transition: 1s all ease;
    margin-left: 70px;
}

.searchdiv {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
}

.searchdiv i {
    line-height: 5vh;
    font-size: 20px;
}

.searchinp {
    padding: 6px;
    width: 78%;
    background-color: gainsboro;
    height: 5vh;
}

.searchinp, textarea {
    border: none;
    font-size: 16px;
    border-radius: 5px;
}

.searchinp:focus, textarea:focus {
    border: none;
}

.catandside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoriesdiv {
    margin-top: 2rem;
    border-radius: 6px;
    padding: 15px;
    background-color: gainsboro;
    text-align: center;
    width: 70%;
}

.categoriesdiv p {
    text-align: left;
}

.uls {
    display: flex;
    justify-content: space-around;
}

.uls ul {
    text-align: left;
}

.uls ul li a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.comment {
    display: flex;
    gap: 15px;
}

.comment .imagepart {
    flex-basis: 5%;
    height: 50px;
    width: 100%;
}

.imagepart img {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    border-radius: 50%;
}

.replycomment {
    padding: 8px;
    margin-left: 70px;
    border-radius: 5px;
    color: var(--mainheading);
    background-color: var(--footer);
}
.replycomment p{
    color: var(--hotish);
}

.textpart {
    flex-basis: 90%;
}

.overlay i {
    cursor: pointer;
}

.replycommenttrigger {
    cursor: pointer;
    width: max-content;
    text-decoration: none;
    color: #fff;
    background-color: var(--footer);
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    transition: 1s all ease;
}

/* for small screen cards */
@media (max-width: 920px) {
    .famoustopicsmain {
        margin: 0;
        margin-right: 0;
    }

    .leftside {
        flex-basis: 100%;
    }

    .rightside {
        display: none;
    }

    /* reply comment css */

    .replycomment,.replyform {
        margin-left: 40px;
    }
}

/* for profile img */
.profileimg {
    width: 100%;
    height: 50vh;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-color: violet;
    background-size: cover;
    transition: 1s all ease;
}

/* popup comment reply form */
/* .overlay {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 111;
    border-radius: 8px;
}

.btns {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.overlay form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay::before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
} */