* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

:root {
    /* --dark: #05386B; */
    --dark: #754ffe;
    --darkgreen: #379683;
    --bcolor: #5CDB95;
    --cooltexr: #4a4b65;
    --backupgreen: #8EE4AF;
    --para: #EDF5E1;
    /* MATHI KO IMP */
    --mainheading: #FFF;
    --hotish: #FF3FA4;
    --skyblue: #525FE1;
    --footer: #18113c;
}

body {
    line-height: 1.5;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    background-color: var(--mainheading);
}



.messages {
    margin-bottom: 10px;
    text-align: center;
}

.index-main {
    margin-left: 4.7244rem;
    display: flex;
    flex-direction: column;
}

/* new index css */

a {
    color: #000;
}

.hero {
    position: relative;
    /* overflow-x: hidden; */
    height: 60vh;
    width: 100%;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(65%);
    transition: transform 0.5s ease;
}

.hero.scrolled img {
    transform: scale(1.2);
}

.contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: bold;
}

.contents h2, .contents p {
    margin: 0;
    padding: 0 100px;
}

.overlapcards {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    gap: 50px;
}

.card {
    height: 30vh;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    background-color: gainsboro;
    color: var(--footer);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.4s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card i {
    font-size: 30px;
}

.card:hover, .bigcard:hover, .testimonialwrapper:hover {
    transform: translateY(-10px);
}

.wrapper {
    margin-top: 10rem;
}

.wrapper center {
    margin-bottom: 2rem;
}

.usercards {
    padding: 0 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 15px;
}

.usercards .cardcontainer {
    background-color: gainsboro;
    border-radius: 10px;
    padding: 5px;

}

.usercards .text {
    text-align: center;
}

.topics-card {
    display: grid;
    padding: 15px;
    place-items: center;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
}

.downwrapper, .rollwrapper {
    margin-top: 2rem;
}

.topics-card .cardcontainer {
    background-color: gainsboro;
    padding: 10px;
    border-radius: 10px;
    min-width: 700px;
    min-height: 40vh;
}

.topics-card .bigcard {
    height: 40vh;
    width: inherit;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--dark);
    transition: 0.4s ease;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bigcard .text {
    max-width: 700px;
}

/* for rolling card container */
#prevbtn,
#nextbtn {
    position: absolute;
    top: 0;
    z-index: 0;
    cursor: pointer;
    height: 100%;
    width: 2rem;
    text-transform: capitalize;
    z-index: 9;
    top: 50%;
    color: #868383;
    font-size: 2.3rem;
}

#prevbtn {
    left: 60px;
}

#nextbtn {
    right: 60px;
}

#prevbtn:hover,
#nextbtn:hover {
    color: var(--dark);
}

.rollwrapper {
    padding: 0 150px;
    position: relative;
    margin-bottom: 2rem;
}

.rollcardcontainer {
    display: flex;
    height: 50vh;
    background-color: gainsboro;
    border-radius: 10px;
    gap: 15px;
    overflow: hidden;
    padding: 15px;
    scroll-behavior: smooth;
}

.rollcardcontainer .rollcard {
    background-color: var(--dark);
    border-radius: 10px;
    padding: 10px;
    min-width: 400px;
}

.rollcardcontainer .rollcard img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
}


/* for testimonial */
.testimonial {
    padding: 10px 12rem;
}

.testimonialwrapper {
    max-height: 50vh;
    width: 100%;
    background-color: gainsboro;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 1rem;
    transition: 0.4s ease;
}

.testimonial .imgpart {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial .imgpart img {
    object-fit: cover;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.testimonial .textpart {
    flex: 2;
}

/* new index for mobile devices css */
@media (max-width: 920px) {
    .index-main {
        margin-left: 0;
    }

    .overlapcards {
        display: none;
    }

    .contents {
        width: 70%;
        text-align: center;
    }

    .contents h2, .contents p {
        margin: 0;
        width: 100%;
        padding: 0 1px;
    }

    .usercards {
        padding: 1px;
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        width: 180px;
        height: 28vh;
    }

    .wrapper {
        margin-top: 1rem;
    }

    .topics-card {
        grid-template-columns: repeat(1, 1fr);
    }

    .topics-card .cardcontainer {
        min-width: 200px;
    }

    .rollwrapper {
        padding: 0 10px;
        position: relative;
        margin-bottom: 2rem;
    }

    .rollcardcontainer .rollcard {
        min-width: 300px;
    }

    .testimonial {
        padding: 1px 10px;
    }

    .testimonialwrapper {
        flex-direction: column;
    }

    .testimonial .textpart {
        margin-top: 30px;
        text-align: center;
    }

    #prevbtn {
        left: 20px;
    }

    #nextbtn {
        right: 20px;
    }
}