:root {
    /* --dark: #05386B; */
    --dark: #754ffe;
    --darkgreen: #379683;
    --bcolor: #5CDB95;
    --cooltexr: #4a4b65;
    --backupgreen: #8EE4AF;
    --para: #EDF5E1;
    /* MATHI KO IMP */
    --mainheading: #FFF;
    --hotish: #FF3FA4;
    --skyblue: #525FE1;
    --footer: #18113c;
}

.password-system-main {
    margin-left: 4.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.password-system-main .normalpara{
    background-color: var(--dark);
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
}

.password-system-main form{
    background-color: var(--footer);
    padding: 30px;
    border-radius: 7px;
    color: #fff;
}
.password-system-main form input{
    width: 99%;
    height: 45px;
    border: none;
    background-color: #fff;
    border-radius: 4px;
    font-size: 22px;
    padding: 3px;
    outline: none;

}
.wrapper{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.imagecontainer{
    height: 100%;
    flex-basis: 50%;
}
.imagecontainer img{
    height: 100%;
    width: 100%;
}
.contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.normalpara a{
    padding: 7px;
    border-radius: 5px;
    margin: 0 4px;
    color: #fff;
    background-color: var(--footer);
}


@media (max-width: 991px) {
    .password-system-main {
        margin: 0;
    }
}