* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

:root {
    --dark: #754ffe;
    --darkgreen: #379683;
    --bcolor: #5CDB95;
    --cooltexr: #4a4b65;
    --backupgreen: #8EE4AF;
    --para: #EDF5E1;
    /* MATHI KO IMP */
    --mainheading: #FFF;
    --hotish: #FF3FA4;
    --skyblue: #525FE1;
    --footer: #18113c;
}


/* Button */
.copybtn {
    cursor: pointer;
    background-color: var(--skyblue);
    font-family: inherit;
    display: inline-block;
    width: 5em;
    height: 2em;
    line-height: 1.9em;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: -1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--para);
}

.copybtn:hover {
    color: #fff;
}

.famoustopicsmain {
    margin: 0 .5rem 0 5rem;
}

.commentbox {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.comment {
    padding: 8px;
    border-radius: 5px;
    color: var(--mainheading);
    background-color: var(--dark);
}

.containflex {
    padding: 10px;
    display: flex;
    gap: 20px;
}

.leftside {
    padding: 0 10px 10px 10px;
    flex-basis: 65%;
}

.flexwrapper {
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 10px;
    gap: 20px 10px;
}
.onebottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexwrapper .one {
    /* background-color: violet; */
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.biocontent {
    background-color: gainsboro;
    border-radius: 6px;
    padding: 20px;
    word-wrap: break-word;
}

.particularstory {
    padding: 20px;
    border-radius: 6px;
    margin-left: 2rem;
}

.particularstory .copybtn{
    font-weight: bold;
    font-size: 20px;
    height: 10vh;
    padding: 0 20px;
    line-height: 1.2em;
    text-align: center;
    z-index: 1;
}

.flexwrapper .onebottom .gamyfication img {
    z-index: -1;
    height: 12vh;
}

.leftside img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.tags {
    margin-bottom: 1rem;
    border-radius: 6px;
    width: max-content;
    padding: 4px;
    background-color: gainsboro;
}

.rightside {
    padding-top: 13px;
    flex-basis: 35%;
    border-radius: 6px;
}

.thoughtsform {
    display: flex;
    flex-direction: column;
}

.thoughtsform textarea {
    padding: 7px;
    width: 100%;
    height: 10vh;
    background-color: gainsboro;
    color: #3a0ca3;
}

textarea {
    border: none;
    font-size: 16px;
    border-radius: 5px;
}

textarea:focus {
    border: none;
}

.catandside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment {
    display: flex;
    gap: 15px;
}

.comment .imagepart {
    flex-basis: 5%;
    height: 50px;
    width: 100%;
}

.comment .imagepart img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.textpart {
    flex-basis: 90%;
}

.myday {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.myday form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#file-input {
    display: none;
}

#file-input-label {
    font-size: 2em;
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mydaycard {
    cursor: pointer;
    background-color: gainsboro;
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.catandside .imgspan {
    color: var(--dark);
}

.fullscreen-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    z-index: 11111;
}

.fullscreen-overlay img {
    max-width: 100%;
    max-height: 90%;
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    background-color: var(--dark);
    padding: 6px 15px;
    border-radius: 6px;
}


/* for small screen cards */
@media (max-width: 920px) {
    .famoustopicsmain {
        margin: 0;
        margin-right: 0;
    }

    .leftside {
        flex-basis: 100%;
    }

    .rightside {
        display: none;
    }
}