* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

:root {
    --dark: #754ffe;
    --darkgreen: #379683;
    --bcolor: #5CDB95;
    --cooltexr: #4a4b65;
    --backupgreen: #8EE4AF;
    --para: #EDF5E1;
    /* MATHI KO IMP */
    --mainheading: #FFF;
    --hotish: #FF3FA4;
    --skyblue: #525FE1;
    --footer: #18113c;
}

.timelinemain {
    margin-left: 5rem;
}

.allcontain {
    background-color: red;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.confessions {
    flex-basis: 60%;
    padding: 10px;
    border-radius: 8px;
    background-color: yellow;
}

.chartandform {
    color: #fff;
    flex-basis: 30%;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--footer);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chartcontain {
    height: 40vh;
}
.formcontain{
    background-color: violet;
    padding: 10px;
}
form {
    border-radius: 8px;
    /* padding: 100px; */
    background-color: rgb(23, 5, 45);
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .timelinemain {
        margin: 0;
    }

    .allcontain {
        flex-direction: column;
    }
    form {
        padding: 60px;
    }
}