* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

:root {
    /* --dark: #05386B; */
    --dark: #754ffe;
    --darkgreen: #379683;
    --bcolor: #5CDB95;
    --cooltexr: #4a4b65;
    --backupgreen: #8EE4AF;
    --para: #EDF5E1;
    /* MATHI KO IMP */
    --mainheading: #FFF;
    --hotish: #FF3FA4;
    --skyblue: #525FE1;
    --footer: #18113c;
}

/* Button */
.copybtn {
    cursor: pointer;
    background-color: var(--dark);
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2em;
    line-height: 1.9em;
    margin: 20px 0 20px 0;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--para);
}

.copybtn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--skyblue);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.copybtn:hover {
    color: #fff;
}

.copybtn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.copybtn:hover:before {
    top: -30px;
    left: -30px;
}

.copybtn:active:before {
    background: #3a0ca3;
    transition: background 0s;
}

.writestorymain {
    margin-left: 4.9rem;
}

.writestorymain span {
    color: var(--dark);
}

.flexcontain{
    display: flex;
}

.rules{
    flex-basis: 50%;
    padding: 10px;
}

.rules ul{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.rules ul li{
    background-color: var(--dark);
    padding: 15px;
    border-radius: 6px;
    font-weight: bold;
}
.rulesimg{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rules img{
    height: 100%;
    width:auto;
}
.mainfrom{
    padding: 10px;
    flex-basis:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainfrom form{
    padding: 15px;
    width: 80%;
    height: 65vh;
    color: #fff;
    background-color: var(--darkgreen);
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[name="subject"] {
    outline: none;
    border: none;
    font-size: 16px;
    padding: 4px;
    color: #fff;
    border-radius: 5px;
    height: 5vh;
    background: #18113c;
}
textarea{
    outline: none;
    border: none;
    font-size: 16px;
    padding: 4px;
    color: #fff;
    border-radius: 5px;
    height: 32vh;
    background: #18113c;
}
select, option{
    background-color:#18113c;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
}
form .col{
    display: flex;
    flex-direction: column;
}
@media (max-width: 991px) {
    .writestorymain {
        margin: 0;
    }
    .flexcontain{
        flex-direction: column;
    }
    .mainfrom form{
        padding: 15px;
        width: 95%;
        height: 58vh;
    }
}